@model List<String>
<h1>Azure File Share</h1>

<a asp-controller="FileShare"
   asp-action="Subir">
    Subir archivo
</a>

<ul class="list-group">
    @foreach (String nom in Model)
    {
        <li class="list-group-item">
            @nom 
            <a asp-controller="FileShare" class="btn btn-info"
               asp-action="Index"
               asp-route-filename="@nom">
                Leer
            </a>
            <a asp-controller="FileShare" class="btn btn-danger"
                asp-action="Eliminar"
                asp-route-filename="@nom">
                Eliminar
            </a>
        </li>
    }
</ul>
<p style="color:blue">@ViewData["TEXTO"]</p>